<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.go" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PhillyGoFlow</name>
    <description>
        A Radio
    </description>
    <author email="contact@ParnellKelley.com" href="http://www.ParnellKelley.com">
        Parnell Kelley
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <gap:config-file overwrite="true" parent="UIBackgroundModes" platform="ios">
            <array>
                <string>audio</string>
            </array>
        </gap:config-file>
    </platform>
    <engine name="ios" spec="^4.5.4" />
    <engine name="android" spec="^7.0.0" />
    <engine name="browser" spec="^5.0.3" />
</widget>
